doctype html
head
	title Servidor do CrewLink
	link(rel="icon", href="https://github.com/ottomated/CrewLink/raw/master/logo.png", type="image/x-icon")
	meta(property='og:title' content='Servidor do CrewLink')
	meta(property='og:description' content='Um servidor de voz para o CrewLink')
	meta(property='og:image' content='https://github.com/ottomated/CrewLink/raw/master/logo.png')
	link(rel='stylesheet', href='/public/styles.css')


img(src="https://github.com/OhMyGuus/CrewLink/raw/master/logo.png")
h1 Servidor do CrewLink
#crewinfo

	p Este servidor do CrewLink está rodando em: 
	br
	b #{address}
	p Atualmente #{connectionCount === 1 ? 'is' : 'are'} temos #{connectionCount} usuário conectado#{connectionCount === 1 ? '' : 's', 0 ? 's' : 's'}.
	<hr>
	p
			| Baixe o BetterCrewLink para um melhor áudio & novos recursos, 
			| <b><a href="https://github.com/OhMyGuus/BetterCrewLink/releases/latest">Clique aqui</a></b> para baixar o BetterCrewLink.
			
			| Caso esteja com dúvida de como baixar o BetterCrewLink para PC ou Celular <b><a href="https://youtu.be/HgLfZ1uHRD4">clique aqui</a></b>.
	<hr>
	p Nota: (Este servidor funciona tanto para o BetterCrewLink e tanto para o CrewLink original)
	 
		
#background-container
	#stars
	#stars2
	#stars3
