doctype html
head
	title CrewLink Brasil
	link(rel="icon", href="https://github.com/ottomated/CrewLink/raw/master/logo.png", type="image/x-icon")
	meta(property='og:title' content='CrewLink Brasil')
	meta(property='og:description' content='Um servidor de voz para o CrewLink traduzido totalmente em Português do Brasil e com suporte ao BetterCrewLink e CrewLink')
	meta(property='og:image' content='https://github.com/ottomated/CrewLink/raw/master/logo.png')
	link(rel='stylesheet', href='/public/styles.css')


img(src="https://github.com/OhMyGuus/CrewLink/raw/master/logo.png")
h1 CrewLink Brasil
#crewinfo

	p Este servidor do CrewLink está rodando em: 
	br
	b https://crewlink-brasil.herokuapp.com
	p Atualmente temos #{connectionCount} usuários conectados no servidor.
	<hr>
	p
			| <b>IMPORTANTE!</b>
			br
			 
			| Baixe o BetterCrewLink para um melhor áudio & novos recursos.
			br
			 
			| <a href="https://github.com/OhMyGuus/BetterCrewLink/releases/latest">Clique aqui</a> para baixar o BetterCrewLink.
			br
			 
			| Caso esteja com dúvida de como baixar o BetterCrewLink para PC, celular ou tablet <a href="https://youtu.be/HgLfZ1uHRD4">clique aqui</a>.
	<hr>
	p (Este servidor funciona tanto para o BetterCrewLink e tanto para o CrewLink original)
	 
		
#background-container
	#stars
	#stars2
	#stars3
